<header
  #navigation
  (scroll)="onScroll()"
  [ngClass]="colorHeader? 'color':'noColor'"
>
  <div class="logo">
   <a href="/home">
    <img
    class="light"
    aria-hidden="true"
    src="/assets/images/blue-trans-small.webp"
    decoding="async"
    alt="logo"
    width="272"
    height="112"
    *ngIf="!colorHeader && !phoneView"
  />
  <img
    class="light"
    aria-hidden="true"
    src="/assets/images/blue-trans-small.webp"
    decoding="async"
    alt="logo"
    width="272"
    height="112"
    *ngIf="colorHeader || phoneView"
  />
   </a>
  </div>
  <div class="navigation">
    <ul class="navList" *ngIf="!phoneView">
      <li>
        <span
          ><a href="/home" [ngClass]="colorHeader? 'color':'noColor'"
            >Home</a
          ></span
        >
      </li>
      <!--
          <li>
        <span
          ><a href="/web-design-standard" [ngClass]="colorHeader? 'color':'noColor'"
            >Services</a
          ></span
        >
      </li>
      <li>
        <div class="dropdown">
          <a href="/web-design-ireland" style="color: white;">Services ⮟</a>
          <div class="dropdown-content">
            <li><a href="web-design-standard">WEB DESIGN LIFETIME SUPPORT</a></li>
            <li><a href="web-design-blog">STAND ALONE WEBSITE</a></li>
            <li><a href="web-design-standalone">WEB DESIGN LIFETIME SUPPORT + BLOGGING</a></li>
          </div>
        </div>
      </li>
      -->
      <!--
      <li>
        <span
          ><a href="/reviews" [ngClass]="colorHeader? 'color':'noColor'"
            >Reviews</a
          ></span
        >
      </li>
    -->
      <li>
        <span
          ><a href="/articles" [ngClass]="colorHeader? 'color':'noColor'"
            >Articles</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/contact" [ngClass]="colorHeader? 'color':'noColor'"
            >Contact</a
          ></span
        >
      </li>
    </ul>
    <!--Mobile Nav toggle-->
    <button
      class="hamburger-menu"
      (click)="dropDownMenu(ham)"
      #ham
      *ngIf="phoneView"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
</header>
<div class="navListMenu" *ngIf="showDropDown">
  <ul class="navListPhone">
    <li><a href="/home">Home</a></li>
    <!--
    <li><a href="/reviews">Reviews</a></li>
    -->    
    <li><a href="/articles">Articles</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
