<div class="contactInfo">
  <span class="headerContact">
    <img
    aria-hidden="true"
    src="/assets/images/phone-icon.svg"
    decoding="async"
    alt="icon"
    height="60px"
    />
    <span class="call-us">
      <span class="call-us-text">CALL US:</span>
      0987654443
    </span>
  </span>
 
  <span class="headerContact">
    <img
    aria-hidden="true"
    src="/assets/images/calendar-icon.svg"
    decoding="async"
    alt="icon"
    height="60px"
    />
    <span class="call-us">
      <span class="call-us-text">OPENING HOURS</span>
      MON - FRI: 8AM - 6PM
    </span>
  </span>

  <span class="headerContact">
    <img
    aria-hidden="true"
    src="/assets/images/location-icon.svg"
    decoding="async"
    alt="icon"
    height="60px"
    />
    <span class="call-us">
      <span class="call-us-text">DUBLIN, IRELAND</span>
    </span>
  </span>

</div>
<header
  #navigation
>
  <div class="logo">
   <a href="/home">
    <img
    class="light"
    aria-hidden="true"
    src="/assets/images/logo.webp"
    decoding="async"
    alt="logo"
  />
   </a>
  </div>
  <div class="navigation">
    <ul class="navList">
      <li>
        <span
          ><a href="/home"
            >HOME</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/services"
            >SERVICES</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="/contact"
            >CONTACT</a
          ></span
        >
      </li>
      <li>
        <span
          >        <a class="button-6" style="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/irelandwebdesigns/15min'});return false;"><!-- Calendly link widget begin -->
            <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
            <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
            <a href="" style="color:white;text-decoration:none;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/irelandwebdesigns/15min'});return false;">BOOK</a>
            <!-- Calendly link widget end --></a></span
        >
      </li>
    </ul>
    <!--Mobile Nav toggle-->
    <button
      class="hamburger-menu"
      (click)="dropDownMenu(ham)"
      #ham
      
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
</header>
<div class="navListMenu" *ngIf="showDropDown">
  <ul class="navListPhone">
    <li><a href="/home">HOME</a></li>
    <li><a href="/services">SERVICES</a></li>
    <li><a href="/contact">CONTACT</a></li>
    <li><a href="/booking">BOOK NOW</a></li>
  </ul>
</div>