<section class="footer">
    <div class="container">
      <div class="left-section">
        <a class="logo" href="/index.html"
          ><img
            loading="lazy"
            decoding="async"
            src="/assets/images/logo.webp"
            alt="logo"
        /></a>
      </div>
      <div class="right-section">
        <div class="lists">
          <ul>
            <li><h2>Information</h2></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul>
            <li><h2>Services</h2></li>
            <li><a href="/services">Home Removals</a></li>
            <li><a href="/services">Furniture Removals</a></li>
            <li><a href="/services">Waste Disposal</a></li>
            <li><a href="/services">Breakdown Services</a></li>
            <li><a href="/services">Home Offices</a></li>
            <li><a href="/services">Wiring</a></li>
            <li><a href="/services">Deep Cleaning</a></li>


          </ul>
          <ul>
            <li><h2>Contact</h2></li>
            <li>
              <a href="/contact.html">Dublin<br />Ireland</a>
            </li>
            <li><a href="tel:0852330305">T: 085 2330305</a></li>
            <li><a href="mailto:quickfixremovals@gmail.com"> quickfixremovals@gmail.com - Click to Email</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="credit">
      <span>Designed and Hand Coded by</span>
      <a href="https://irelandwebdesigns.ie/" target="_blank" rel="noopener">IrelandWebDesigns.ie</a>
    </div>
  </section>