<section class="footer">
    <div class="container">
      <div class="left-section">
        <a class="logo" href="/index.html"
          ><img
            loading="lazy"
            decoding="async"
            src="/assets/images/white-trans.png"
            alt="logo"
            width="272"
            height="112"
        /></a>
      </div>
      <div class="right-section">
        <div class="lists">
          <ul>
            <li><h2>Information</h2></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <!--
            <li><a href="/projects">Projects</a></li>
            <li><a href="/reviews">Reviews</a></li>
            -->
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul>
            <li><h2>Services</h2></li>
            <li>Small business web design</li>
            <li>SEO</li>
            <li>Large website projects</li>
            <li>Copywriting</li>
          </ul>
          <ul>
            <li><h2>Contact</h2></li>
            <li><a href="tel:0838689176">T: 083 8689176</a></li>
            <li><a href="mailto:docmp98@gmail.com">Click to Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>