<section id = "pricing" class="pricing">
    <div class="pricingImage">
      <img src = "/assets/images/myProfile.png">
    </div>
    <div class="container">
      <div class="right">
        <div class="pricingText">
          <h1>
            <span>Donal O'Connell</span>
          </h1>
          <p>I am the owner and lead developer at Ireland Web Designs. I’m from Charleville, Cork. I am a computer scientist and web developer. I have been studying computer science and programming for 5 years. I have a BSc in Computer Systems from the University of Limerick. My goal with Ireland Web Designs is to provide businesses with fast websites that are built conversion-ready from the ground up, so they can start getting more leads, sales, and profits.<br>
            What I found was that a lot of small businesses don't have the funds to spend thousands upfront on a new website. And the ones that did, got taken advantage of having terrible slow websites with awful design that was clearly made using out of box solutions by someone who had never seen a line of code . Business owners are in a frustrating position. They are forced to break the bank to get a nice functioning website and risk being taken advantage of by awful web designers. That's how I came up with my €0 down and €149 a month model. It's more manageable for a small business to handle, they will have support for the complete lifetime of their website and it would never go out of date or require learning how to manage websites.
          </p>
        </div>
      </div>
    </div>
  </section>
