<app-header></app-header>
<section id="int-hero">
    <h1 id="home-h">Web Design Services</h1>
    <picture>
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/code.webp"
          width="350px"
          
        />
        <source media="(max-width: 1280px)" srcset="/assets/images/code.webp" width="400px"/>
  
        <source media="(min-width: 1281px)" srcset="/assets/images/code.webp"/>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/code.webp"
          alt="code"
          width="450px"
        />
      </picture>
  </section>
<section id ="standard">
<div class="service">
    <picture>
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/computerCode.webp"
          width="350px"
          
        />
        <source media="(max-width: 1280px)" srcset="/assets/images/computerCode.webp" width="400px"/>
  
        <source media="(min-width: 1281px)" srcset="/assets/images/computerCode.webp"/>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/computerCode.webp"
          alt="code"
          width="450px"
        />
      </picture>
      <div class="paragraph">
        <h2>Web Design & Web Development Done Better</h2>
        <p>
            What makes us better than other web design services in Ireland is that we don't use page builders such as Wix or Wordpress. We meticulously write each line of code. 
            This means our site has no wasted code and loads almost instantly. Unlike page builders we have no bloated, messy and poorly formatted code. Another perk 
            of this is that we also have more control over the design of the website.
            Websites that are hand coded will almost always <b>out-perform WordPress websites</b> & drag and drop page builders which cost thousands to build. The best websites are the ones which
            are the fastest and most well designed.
        </p>
      </div>
</div>
<div class="service2">
    <picture>
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/searchIllustration.webp"
          width="350px"
          
        />
        <source media="(max-width: 1280px)" srcset="/assets/images/searchIllustration.webp" width="400px"/>
  
        <source media="(min-width: 1281px)" srcset="/assets/images/searchIllustration.webp"/>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/searchIllustration.webp"
          alt="code"
          width="450px"
        />
      </picture>
      <div class="paragraph">
        <h2>Search Engine Optimization (SEO) for 2022</h2>
        <p>
            If someone tells you they can get you to the front page of Google in 3 months they are simply telling lies. Unless you are featured on a famous website such as Forbes, it will take time for your 
            website to make its way to Google's front page.

                We offer a number of the latest search engine optimization techniques for 2022:
              
                    <li>✔️ Keyword-Researched Content / Copywriting & Blogs</li>
                    <li>✔️ Mobile-First-Optimized for the Best Experience</li>
                    <li>✔️ Clean & Organized Code Structure For Web Crawlers</li>
                    <li>✔️ Website With High Core Vital Scores</li>
        </p>
      </div>
</div>
<div class="service">
    <picture>
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/mathgraph2.webp"
          width="350px"
          
        />
        <source media="(max-width: 1280px)" srcset="/assets/images/mathgraph2.webp" width="400px"/>
  
        <source media="(min-width: 1281px)" srcset="/assets/images/mathgraph2.webp"/>
        <img
          aria-hidden="true"
          decoding="async"
          src="/assets/images/mathgraph2.webp"
          alt="code"
          width="450px"
        />
      </picture>
      <div class="paragraph">
        <h2>Lifetime Updates & Support</h2>
        <p> Over time standards for web design change and websites can often be left looking outdated. <br>
            And Google changes its search alogrithm standards, changing what is important to rank. We also
            include <b>Lifetime Updates & Support</b> to make sure your website is always optimised for success and 
            never goes out of date
        </p>
      </div>
</div>
</section>