
<app-about></app-about>
<app-services></app-services>
<section class="services">
  <div class="serviceKeywords">
    <div class="serviceCard">
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/bolt-icon.svg"
            alt="appliance"
            width="68"
            height="68"
          />
        </picture>
        <h2>Home Wiring</h2>
        <p>
          Full Home Wiring And Office Wiring Services
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/car-breakdown-icon.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Breakdown Services</h2>
        <p>
          Quick and Easy Motorbike & Car Breakdown Removals
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/kitchen-icon.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Kitchen Fitting</h2>
        <p>
          Kitchen Installations Dublin. We will provide kitchen fitting & assembling for your home
        </p>
      </div>
    </div>
  </div>
</section>