<app-homeheader></app-homeheader>
<section id="hero">
  <div class="hero-content">
    <div class="heroText" onclick="location.href='/contact'">
      <h1 id="home-h" class="home-h">
        Small Business Web Design + Development
      </h1>
      <p>
        No page builders or WordPress - We offer 100% hand-coded websites with superior results starting at €150/mo
      </p>
      <button class="button-6" onclick="location.href='/contact'" type="button" style="cursor:pointer">
        GET IN TOUCH
    </button>
    </div>
    <img src="/assets/images/mockup.png" class="mock-up">
  </div>
</section>
<app-services></app-services>
<app-about></app-about>
<app-pricing></app-pricing>
