@media only screen and (min-width: 0em) {
    #video-section{
        background-color: #292a2f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 2em;
        h2{
            color: white;
        }
        iframe{
            height: 200px; 
            width:350px;
        }
        .graphic-group img {
            width: 30px !important;
            margin-bottom: 0 !important;
          }
          .dash {
            width: 50px;
            border-bottom: 1px dashed white(67, 183, 255, 0.9);
          }
    }
    picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 110%;
        width: 100%;
        z-index: -2;
        filter: brightness(40%);
        span{
            position:absolute;
            height: 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
    .primary:before {
        content: '';
        width: 20px;
        height: 20px;
        border-top: 2px solid var(--primary);
        border-left: 2px solid var(--primary);
        position: absolute;
        top: -5px;
        left: -5px;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    .primary:after {
        content: '';
        width: 20px;
        height: 20px;
        border-bottom: 2px solid var(--primary);
        border-right: 2px solid var(--primary);
        position: absolute;
        bottom: -5px;
        right: -5px;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
       
    }
    .secondary:before {
        content: '';
        width: 20px;
        height: 20px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        position: absolute;
        top: -5px;
        left: -5px;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    .secondary:after {
        content: '';
        width: 20px;
        height: 20px;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        position: absolute;
        bottom: -5px;
        right: -5px;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
       
    }
    #hero{
        height: auto;
        width: 100%;
        text-align: center;
        overflow-y: hidden;
        padding-bottom: 8rem;
        .hero-content{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .heroText{
            width: 100%;
            p{
                width: 90%;
                margin-left: 5%;
            }
            h1,p{
                color: white;
                margin-bottom: 1.5rem;
                margin-top: 1rem;
            }
            h1{
                font-size: 1.2rem;
            }
            .button-6{
                border-radius: 0;
                z-index: 100;
                margin-bottom: 4em;
            }
        
            
        }
        .btns{
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 40px;
            margin-left: 15%;
        }
    }
    h1::after {
        content: '';
        position: absolute;
        display: block;
        height: 0.125em;
        width: 1.515625em;
        background: var(--primary);
        opacity: 1;
        margin-top: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #about{
        margin-top: -1em;
    }
}
@media only screen and (min-width: 360px) {
   
}
@media only screen and (min-width: 1024px) {
    picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 99%;
        width: 100%;
        z-index: -2;
        filter: brightness(40%);
        span{
            position:absolute;
            height: 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }

    .button-6{
        width: 25%;
        margin-right: 3em;
        font-weight: bold;
        font-size: 1em;
    }
    .button-6-white{
        width: 25%;
        margin-left: 3em;
        font-weight: bold;
        font-size: 1em;
    }
    #hero{
        overflow-y: none;
        picture{
            img{
            max-height:100% 

            }
        }
        .btns{
            display: flex;
            flex-direction: row;
            width: 100%;
            
            justify-content: flex-start;
            .button-6{
                margin-left: 2em;
            }
        }
    }
   .hero-content{
       width: 50%;
       margin-left: 15%;
       text-align: center;
       padding-top: 3rem;
       flex-direction: row;
       .heroText{
            .home-h{
                padding-bottom: .5em;
            }
            h1{
                font-size: 2rem !important;
                
            }
            p{
                padding-bottom: 2em;
            }
        }
   }
}
/* Large Desktop */
@media only screen and (min-width: 1280px) {
    picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 97%;
        width: 100%;
        z-index: -2;
        filter: brightness(40%);
        span{
            position:absolute;
            height: 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
  
        #video-section{
            iframe{
                height: 455px; 
                width:809px;
            }
            .graphic-group{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1em;
            }
              .dash {
                width: 50px;
                border-bottom: 1px dashed rgba(67, 183, 255, 0.9);
                margin-left: 1em;
                margin-right: 1em;
              }
        }
        #hero{
            overflow-y: none;
            picture{
                img{
                max-height:90% 
                
                }
            }
            h1::after {
                left: 40%;
            }
        }
        #hero{
            padding-bottom: 8rem;
        }
        .button-6{
            width: 25%;
            margin-right: 3em;
            font-weight: bold;
            font-size: 1em;
            color: black;
        }
        .button-6-white{
            width: 25%;
            margin-left: 3em;
            font-weight: bold;
            font-size: 1em;
        }
    
        .hero-content{
            width: 50%;
            margin-left: 15%;
            text-align: center;
            padding-top: 3rem;
            flex-direction: row;
            .heroText{
                 .home-h{
                     padding-bottom: .5em;
                 }
                 h1{
                     font-size: 1.5rem !important;
                     
                 }
                 p{
                     padding-bottom: 2em;
                 }
             }
        }
    

}
@media (min-width: 1279px) and (max-height: 801px){
    
    #hero{
        padding-bottom: 2rem;
    }
    picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 120%;
        width: 100%;
        z-index: -2;
        filter: brightness(40%);
        span{
            position:absolute;
            height: 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
    .button-6{
        width: 25%;
        margin-right: 3em;
        font-weight: bold;
        font-size: .8em;
        color: black;
    }
    .button-6-white{
        width: 25%;
        margin-left: 3em;
        font-weight: bold;
        font-size: .8em;
    }

    .hero-content{
        width: 50%;
        margin-left: 15%;
        text-align: center;
        padding-top: 1.5rem;
        flex-direction: row;
        .heroText{
             .home-h{
                 padding-bottom: .5em;
             }
             h1{
                 font-size: 1.5rem !important;
                 
             }
             p{
                 padding-bottom: 2em;
             }
         }
    }
    

}
@media (min-width: 1599px) and (max-height: 901px){
    
    #hero{
        padding-bottom: 2rem;
    }
    picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        filter: brightness(40%);
        span{
            position:absolute;
            height: 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
    .button-6{
        width: 25%;
        margin-right: 3em;
        font-weight: bold;
        font-size: .8em;
        color: black;
    }
    .button-6-white{
        width: 25%;
        margin-left: 3em;
        font-weight: bold;
        font-size: .8em;
    }

    .hero-content{
        width: 50%;
        margin-left: 15%;
        text-align: center;
        padding-top: 3rem;
        flex-direction: row;
        .heroText{
             .home-h{
                 padding-bottom: .5em;
             }
             h1{
                 font-size: 1.5rem !important;
                 
             }
             p{
                 padding-bottom: 2em;
             }
         }
    }
    

}
/* YUGE Desktop */
@media only screen and (min-width: 1921px) {
    picture {
        position: absolute;
        top: 0;
        left: 0;
        height: 85%;
        width: 100%;
        z-index: -2;
        filter: brightness(40%);
        span{
            position:absolute;
            height: 100%;
            width: 100%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    }
    #hero{
        overflow-y: none;
        padding-bottom: 15rem;
        picture{
            img{
            max-height:80% 
            
            }
        }
    }

}

