<section id="hero">
  <div class="hero-content">
    <div class="heroText">
      <h1 id="home-h" class="home-h">
        Rubbish Removal Service Dublin
      </h1>
      <p>
        One Stop Shop For All Your Moving And Removal Needs. Moving / Fitting / Cleaning Services including Piano Removals, Home Office Setups, Apartment Removals, Garden Disposals, Breakdown Services & Full Home Wiring
      </p>
      <div class="btns">
        <a class="primary button-6" href="/contact" target="_blank" rel="noopener">
          CONTACT US
        </a>
        <a class="secondary button-6-white" style="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/irelandwebdesigns/15min'});return false;"><!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a href="" style=" color:black;text-decoration:none;" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/irelandwebdesigns/15min'});return false;">BOOKING</a>
          <!-- Calendly link widget end --></a>
      </div>
    </div>
  </div>
  <picture>
    <source media="(max-width: 600px)" srcset="/assets/images/workers-small.webp" />
    <source media="(min-width: 1280px)" srcset="/assets/images/workers-big.webp" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/workers-big.webp"
      alt="workers"
    />
  </picture>
</section>
<app-process></app-process>
<app-about></app-about>
<app-reviews></app-reviews>
<app-lead-form></app-lead-form>
<section id = "video-section">
  <h2><span>WHAT WE DO </span> </h2>
  <div aria-hidden="true" class="graphic-group">
    <div class="dash"></div>
    <img
      src="https://d33wubrfki0l68.cloudfront.net/e9d9895c8751f62725f1b49e32d0f3f62682d195/c6364/images/portfolio.svg"
      alt=""
    />
    <div class="dash"></div>
  </div>
  <iframe src="https://www.youtube.com/embed/FoWTsrrDEdg" title="house movers ireland" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>

