<app-homeheader></app-homeheader>
<section id="hero">
  <div class="hero-content">
    <div class="heroText">
      <h1 id="home-h" class="home-h">
        Small Business Web Design + Development
      </h1>
      <p>
        No page builders or WordPress - We offer 100% hand-coded websites with superior results starting at €150/mo
      </p>
      <a class="button-6" href="/contact.html" target="_blank" rel="noopener">
        Main Call To Action
      </a>
    </div>
    <img src="/assets/images/mockup.png" class="mock-up">
  </div>
</section>
<app-services></app-services>
<app-about></app-about>
<app-pricing></app-pricing>
