<section id="sidebyside" class="sidebyside">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Trusted Removals for Dublin
      </h2>
      <p>
        Quick Fix Removals provide rubbish removal and moving services across Dublin. Our commited team
        provide quick and efficient house clearance and waste disposal. Whether it is a simple piano removal or a breakdown, Our team will
        always go above and beyond to ensure customer satisfaction and a job well done.
      </p>
      <p>
        <strong>Our Services:</strong>
      </p>
      <ul>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span
            >Home Office Setup</span
          >
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Apartment Removals</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Moving Services</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Home and Garden Waste Disposal</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Motorbike & Car Breakdown Removals</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Kitchen Fitting</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Full Home and Office Wiring</span>
        </li>
        <li>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/check.svg"
            alt="check mark"
            width="20"
            height="20"
          />
          <span>Deep Cleaning / Home Cleaning</span>
        </li>
      </ul>
      <p>
        Established in 2018 Quick Fix Removals is a locally owned and operated rubbish removal service focused on bringing high quality and efficent work.
        Reach out today for a quote. 
      </p>
      <a class="button-6" href="/contact">Get Quote</a>
    </div>
    <picture class="image-box">
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/movers-small.webp"
      />
      <source
        media="(min-width: 601px)"
        srcset="/assets/images/movers-small.webp"
      />
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/images/movers-small.webp"
        alt="movers"
      />
    </picture>
  </div>
</section>

