@media only screen and (min-width: 0em) {
/* Pricing Text */
h1 span{
  color: blue;
  font-family: poppins-bold;
}
.pricingText{
 margin: 0px 10px 10px 10px;
}
.list-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item {
  margin-bottom: 50px;
  padding-left: 42px;
}
.list-item h3:before {
  content: url(/assets/images/checks.png);
  position: relative;
  left: -10px;
  height: 30px;
  max-width: 70px!important;
}
.pricing,.container{
  position: relative;
}
.right:before {
  content: url(/assets/images/blob1.png);
  z-index: -1;
  position: absolute;
  top: 0;
  opacity: .1;
}
.pricing img{
  width: 75%;
  margin-bottom: 80px;
}
.pricingImage{
  width: 90%;
  margin: 0px 0px 0px 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
p{
  font-family: poppins-light;
}
}
@media only screen and (min-width: 1024px) {
  .itemsList{
    display: flex;
    flex-direction: row;
  }
  .item{
    width: 100%;
    margin: 0 10px;
  }
  .pricing{
    display: flex;
    width: 100%;
  }
  .pricingImage{
    width: 40%;
    margin: 0px 0px 0px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .pricingText{
    width: 90%;
  }
  .container{
    width: 60%;
  }
  .list-group{
    display: flex;
    flex-direction: row;
  }
  .containerPrice {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.containerPrice {
  max-width: 11000px;
  width: 100%;
  padding-left: 36px;
  padding-right: 36px;
}
.price-box{
  width: 75%;
}
}