@media only screen and (min-width: 0em) {
/* Pricing Text */
h1 span{
  color: blue;
  font-family: poppins-bold;
}
h1{
  font-size: .9em;
}
h2{
  font-size: .6em;
  margin-top: 15px;

}
#dividerBr::after{
   content: "\a";
}
.cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    margin-bottom: 15px;
  }
}
.divider{
  font-size: .9em;
}
.dividerBr{
  font-size: .9em;
  display: block;
}
.emphasis{
  font-size: 1.1em;
}
p{
  font-size: 0.8em;
}
.initOffer{
  margin-top: 1em;
  line-height: 200%;
}
h3{
  font-size: 1em;
}
#pricing{
  margin-top: 2em;
}
.special-offer{
  h1{
    font-size: 1.8em;
  }
  margin-bottom: 10px;
  display: block;

}
.pricingText{
 margin: 0px 10px 10px 10px;
}
.list-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item {
  margin-bottom: 50px;
  padding-left: 42px;
}
.list-item h3:before {
  content: url(/assets/images/checks.png);
  position: relative;
  left: -10px;
  height: 30px;
  max-width: 70px!important;
}
.pricing,.container{
  position: relative;
}
.pricing img{
  width: 75%;
  margin-bottom: 80px;
}
.pricingImage{
  width: 90%;
  margin: 0px 0px 0px 20px ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.transitionArrow{
  width: 50%;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
  -o-object-fit: cover;
  object-fit: cover;
  img {
   width: auto;
   height: auto;
   max-width: 100%;
   max-height: 100%;
 }
}
p{
  font-family: poppins-light;
}
}
 /* Tablet */
 @media only screen and (min-width: 665px) {
  .cta{
    display: none;
  }
  .special-offer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 }
@media only screen and (min-width: 1024px) {
  .cta{
    display: none;
  }
  .initOffer{
    margin-top: 3.5em;
    line-height: 300%;
  }
  .special-offer{
    font-size: 1.3em;
    margin-right: 10px;
    display: contents;
    
  }
  .divider{
    font-size: 1.3em;
  }
  .dividerBr{
    font-size: 1.3em;
   
  }
  .emphasis{
    font-size: 1.5em;
  }
  .itemsList{
    display: flex;
    flex-direction: row;
  }
  .transitionArrow{
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;
    -o-object-fit: cover;
    object-fit: cover;
    img {
     width: auto;
     height: auto;
     max-width: 100%;
     max-height: 100%;
   }
 }
  .item{
    width: 100%;
    margin: 0 10px;
  }
  .pricing{
    display: flex;
    width: 100%;
  }
  .pricingImage{
    width: 40%;
    margin: 0px 0px 0px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .pricingText{
    width: 90%;
  }
  .container{
    width: 60%;
  }
  .list-group{
    display: flex;
    flex-direction: row;
  }
  .containerPrice {
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.containerPrice {
  max-width: 11000px;
  width: 100%;
  padding-left: 36px;
  padding-right: 36px;
}
.price-box{
  width: 75%;
}
}