<section id = "pricing" class="pricing">
    <div class="pricingImage" *ngIf = "!phoneView">
      <img src = "/assets/images/Product-Launch.png">
    </div>
    <div class="container">
      <div class="right">
        <div class="pricingText">
          <h1>
            <span>€0</span> Down, <span>€149</span> Per Month,<br />No Minimum Contract
          </h1>
          <p>$0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing based on the scope of work, number of additional pages, and time involved. <br><br>  
            You own your domain, content, listing, and profiles.  Cancel anytime with no fees or hassle.  
        </p>
        </div>
        <div class="list-group">
          <div class="leftList">
            <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Hosting Fees Included</h3>
                    <p>Hosting fees are built right into the monthly payment.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Unlimited Edits
                    </h3>
                    <p>Change anything you want at anytime and it will be done that day.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Web Design & Development</h3>
                    <p>Includes over 40 hours of design, development, and testing.</p>
                </div>
              </div>
          </div>
          <div class="rightList">
            <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>24/7 Customer Service</h3>
                    <p>Call direct anytime day or night, no phone trees or automated responses.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Google Analytics</h3>
                    <p>We install Analytics for free to monitor traffic and where it comes from.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Citations And Listings</h3>
                    <p>It's important to have your website linked from other websites, such as local and national business directories.</p>
                </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
