<section id = "pricing" class="pricing">
    <div class="pricingImage">
      <img src = "/assets/images/Product-Launch.png">
    </div>
    <div class="container">
      <div class="right">
        <div class="pricingText">
          <h1>
            <span>Free</span> sign-up, <span>Expert</span> developer support<br />HD Streaming
          </h1>
          <p>
            Get your account setup and integerated with stripe in minutes. We use <span style="color: blue;">Stripe</span> to 
            process payments.
            <br />
            <br />
            We offer expertise developer support to ensure your event runs as smoothly as possible. Our platform is built
            to provide viewers and promoters a platform to easily and quickly access PPV's.
          </p>
        </div>
        <div class="list-group">
          <div class="leftList">
            <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Developer Event Support</h3>
                    <p>Live event support from expert software engineers to ensure your stream stays up.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Stripe Integration</h3>
                    <p>We use Stripe for payment processing.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Large and small events supported</h3>
                    <p>Host PPV streams for your smaller events to open more avenues for monetization.</p>
                </div>
              </div>
          </div>
          <div class="rightList">
            <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Premium domain link</h3>
                    <p>Link to your livestream using our carefully branded link - K1.Live</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Full support</h3>
                    <p>We will help you through the process of starting your own livestream.</p>
                </div>
              </div>
              <div class="list-item">
              <!--SVG-->
                <div class="list-item-content">
                    <h3>Private and secure</h3>
                    <p>Safe and secure PPV streaming to ensure protection against piracy.</p>
                </div>
              </div>
          </div>
          
        </div>
      </div>
        ..
    </div>
  </section>