<app-header></app-header>
<section id="int-hero">
  <h1 id="home-h">WEB DESIGN STANDARD + SEO BLOGGING</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/code.png"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/code.png" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/code.png"
      alt="code"
      width="400"
      height="662"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                    FORM                      -->
<!-- ============================================ -->

<section id="form">
  <div class="left-section">
    <section id="offer-great">
      <div class="offer-box">
        <div class="title">
          <h2> FOR ONLY €3.47 / DAY:</h2>
        </div>
        <div class="offer-details">
            <span><span style="margin-right: .5em;">✔️</span>  Analytics</span>
            <span><span style="margin-right: .5em;">✔️</span>  Hosting</span>
            <span><span style="margin-right: .5em;">✔️</span>  Unlimited Edits</span>
            <span><span style="margin-right: .5em;">✔️</span>  Lifetime Support</span>
            <span><span style="margin-right: .5em;">✔️</span>  Website Design + Development</span>
            <span><span style="margin-right: .5em;">✔️</span>  Keyword Researched Copywriting</span>
            <span><span style="margin-right: .5em;">✔️</span>  5 page eCOMMERCE website with 50 products</span>
            <span><span style="margin-right: .5em;">✔️</span>  If you require a larger scope we can provide custom pricing</span>


            <span style="margin-bottom: 1.5em;"><span style="margin-right: .5em;">✔️</span>  FULL REFUND IF NOT SATISIFIED</span>
            <span>TELL US MORE ABOUT YOUR BUSINESS AND WE WILL GET BACK TO YOU QUICKLY</span>
        </div>
      </div>
    </section>

        <form
        action="https://formspree.io/f/mrgdywyg"
        method="POST"
        id="contact"
      >
      <div class="input-group">
        <label>
            Your email:
          </label>
          <input type="email" name="email" placeholder="email">
      </div>
      <div class="input-group">
        <label>
            Name:
          </label>
          <input type="text" name = "name" placeholder="name">
      </div>
      <div class="input-group">
        <label>
            Phone Number:
          </label>
          <input type="tel" name = "phone" placeholder="Enter Number Here..">
      </div>
      <div class="input-group">
        <label>
            Brief description of your business:
          </label>
          <textarea name="message" placeholder="How long you've been in business, what do you need help with ect"></textarea>
      </div>
        <!-- your other form fields go here -->
        <button type="submit" class="button-6">Send</button>
      </form>
  </div>
  <div class="contact-right">
    <div class="info-group">
      <span class="heading">Location</span>
      <span class="info">Limerick & Cork, Ireland</span>
    </div>
    <div class="info-group">
      <span class="heading">Phone</span>
      <a class="info" href="tel:0838689176">0838689176</a>
    </div>
    <div class="info-group">
      <span class="heading">Email</span>
      <a class="info" href="mailto:info@irelandwebdesigns.ie">Click to Email</a>
    </div>
    <div class="info-group">
      <span class="heading">Hours</span>
      <span class="info last">Mon to Fri: 8am to 6pm</span>
    </div>
  </div>
</section>
