<section id = "process">
    <div class="block">
        <div class="contents">
            <img
            aria-hidden="true"
            src="/assets/images/call-icon.svg"
            decoding="async"
            alt="icon"
            height="40px"
            />
            <span class="text">1. Book Removal</span>
        </div>
        <div class="dash"></div>
        <div class="dash-2"></div>

    </div>
    <div class="block">
        <div class="contents">
            <img
            aria-hidden="true"
            src="/assets/images/truck-icon.svg"
            decoding="async"
            alt="icon"
            height="40px"
            />
            <span class="text">2. Team Arrival</span>
        </div>
        <div class="dash"></div>
        <div class="dash-2"></div>

    </div>
    <div class="block">
        <div class="contents">
            <img
            aria-hidden="true"
            src="/assets/images/recycle-icon.svg"
            decoding="async"
            alt="icon"
            height="40px"
            />
            <span class="text">3. Cleared & Recycled</span>
        </div>
    </div>
</section>
