<!--
 <div class="transitionArrow">
    <img src="/assets/images/arrow2.png">
  </div>
-->
<section class="prices" id = "prices">
    <div class="containerPrice">        
        <div class="price-box popular">
        <h2>Standard</h2>
        <span>5 PAGES</span>
        <h3>2.97</h3>
        <ul>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Full Website</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Unlimited Edits</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt="">Includes Hosting</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 24/7 Customer Service</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Lifetime Updates</li>
        </ul>
        <button class="button-6" onclick="location.href='/standard'" type="button">
            MOST POPULAR
        </button>
    </div>
      <div class="price-box">
        <h2>SEO + Website</h2>
        <span>STARTING AT</span>
        <div class="monthly">
            <h3>247</h3>
        </div>
        <ul>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> All Included in Standard Offer</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 1000+ Word Post</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Written By an SEO Specialist</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 1 Post Per Month</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> €197 Per Extra Post</li>
        </ul>
        <button class="button-6" onclick="location.href='/standard-blog'" type="button">
            WEBSITE + SEO BLOG POSTING
        </button>
    </div>
    <div class="price-box">
        <h2>Website Only</h2>
        <span>STARTING AT</span>
        <div class="yearly">
            <h3>997</h3>
        </div>
        <ul>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Full Website + Website Code</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Optional Hosting</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Edits / Updates - Pay as you go</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Blog posts - €197 Per Post</li>
        </ul>
        <button class="button-6" onclick="location.href='/contact'" type="button">
            WEBSITE + CODE
        </button>
    </div>
    </div>
  </section>