<div class="transitionArrow">
    <img src="/assets/images/arrow2.png">
  </div>
<section class="prices" id = "prices">
    <div class="containerPrice">        
        <div class="price-box">
        <h2>Standard</h2>
        <span>5 PAGES</span>
        <h3>149</h3>
        <ul>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Unlimited Edits</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt="">Includes Hosting</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 24/7 Customer Service</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Lifetime Updates</li>
        </ul>
        <button class="button-6" onclick="location.href='/standard'" type="button">
            CONTACT US
        </button>
    </div>
      <div class="price-box">
        <h2>Standard + Blogging</h2>
        <span>STARTING AT</span>
        <h3>297</h3>
        <ul>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 1000+ Word Post</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> Written By an SEO Specialist</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> 1 Post Per Month</li>
            <li><img aria-hidden="true" src="https://d33wubrfki0l68.cloudfront.net/608a680adbcdbdfc5b0db51ce6104719aaf2b24b/7080e/images/tick.svg" alt=""> €150 Per Extra Post</li>
        </ul>
        <button class="button-6" onclick="location.href='/standard-blog'" type="button">
            CONTACT US
        </button>
    </div>
    </div>
  </section>