<section id="portfolio">
    <div id="portfolio2" class="container">
      <h2><span>OUR </span> PORTFOLIO</h2>
      <div aria-hidden="true" class="graphic-group">
        <div class="dash"></div>
        <img
          src="https://d33wubrfki0l68.cloudfront.net/e9d9895c8751f62725f1b49e32d0f3f62682d195/c6364/images/portfolio.svg"
          alt=""
        />
        <div class="dash"></div>
      </div>
      <div class="example-group">
        <div class="example">
          <img
            sizes="(max-width: 600px) 480px, 800px"
            src="/assets/images/getstaff.webp"
            width="300px"
            alt="sew strong website mock up"
          />
          <h3>Get Staff</h3>
          <h4>Limerick, Ireland</h4>
          <p>
            GetStaff provide hard working emergency bar staff to businesses who are suddenly short on staff.
          </p>
          <button
            class="button-6"
            onclick="location.href='https://GETSTAFF.IE/'"
            type="button"
          >
            VISIT GETSTAFF
          </button>
        </div>
        <div class="example">
          <img
            sizes="(max-width: 600px) 480px, 800px"
            src="/assets/images/ruthart.webp"
            width="300px"
            alt="sew strong website mock up"
          />
          <h3>RuthTeresaArt</h3>
          <h4>Cork, Ireland</h4>
          <p>
            RuthTeresaArt provides Personal and Institutional fine art commisions, Fashion Illustrations, Custom art prints and SEO Copywriting.
          </p>
          <button
            class="button-6"
            onclick="location.href='https://ruthart.web.app'"
            type="button"
          >
            VISIT RUTHTERESAART
          </button>
        </div>
        <div class="example">
          <img
            sizes="(max-width: 600px) 480px, 800px"
            src="/assets/images/wordleMockup.jpg"
            width="300px"
            alt="sew strong website mock up"
          />
          <h3>Scardle</h3>
          <h4>Based on the viral sensation - Wordle</h4>
          <p>
            Remake of New York Times Wordle including an extra 10000+ words making the game six times more difficult.
          </p>
          <button
            class="button-6"
            onclick="location.href='https://scardle.com/'"
            type="button"
          >
            PLAY SCARDLE
          </button>
        </div>
      </div>
    </div>
  </section>

