<section id="int-hero">
    <h1 id="home-h">Payments</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/truck-small.webp"
      />
      <source media="(min-width: 601px)" srcset="/assets/images/truck-big.webp" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/truck-big.webp"
        alt="code"
        width="400"
        height="662"
      />
    </picture>
  </section>
  <div class="services">
    <div class="service-block">
      <div class="service-image">
  
      </div>
      <div class="service-text">
         <div class="title">
           <h2></h2>
         </div>
         <div class="text">
  
         </div>
      </div>
    </div>
    <div class="container-block">
      <div class="service-block-r">
        <div class="service-image">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/moving-service.webp"
              width = "300px"
            />
            <source media="(max-width: 1280px)" srcset="/assets/images/moving-service.webp"/>
      
            <source media="(min-width: 1281px)" srcset="/assets/images/moving-service.webp"/>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/moving-service.webp"
              alt="meeting"
            />
            </picture>
        </div>
        <div class="service-text">
           <div class="title">
             <h2>Moving Services</h2>
           </div>
           <div class="text">
            We will help you prepare your house and belongings for storage or loading into a truck, van, or trailer. 
            We will also pack up all of your furniture and other household items in boxes or crates designed specifically for moving purposes.
           </div>
        </div>
      </div>
    </div>
   
    <div class="service-block">
      <div class="service-image">
        <picture>
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/home-office.webp"
            width = "300px"
          />
          <source media="(max-width: 1280px)" srcset="/assets/images/home-office.webp"/>
    
          <source media="(min-width: 1281px)" srcset="/assets/images/home-office.webp"/>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/home-office.webp"
            alt="meeting"
          />
          </picture>
      </div>
      <div class="service-text">
         <div class="title">
           <h2>Home Office Setup & Wiring Services</h2>
         </div>
         <div class="text">
          Home office setup and wiring can be confusing, but it doesn't have to be. We've got you covered.
          We take into account both your needs and the space availble to provide you with a top class working space.
         </div>
      </div>
    </div>
    <div class="container-block">

      <div class="service-block-r">
        <div class="service-image">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/workers-small.webp"
              width="300px"
              
            />
            <source media="(max-width: 1280px)" srcset="/assets/images/workers-small.webp" width="400px"/>
      
            <source media="(min-width: 1281px)" srcset="/assets/images/workers-small.webp" width="600px"/>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/workers-small.webp"
              alt="meeting"
            />
            </picture>
        </div>
        <div class="service-text">
           <div class="title">
             <h2>Home and Garden Waste Disposal</h2>
           </div>
           <div class="text">
              <span>Waste disposal is an important part of maintaining your home and garden.<br>
  
                Our services include:<br></span>
              <span>  <li style="font-size: .8em; margin-top: .7em;"> - Removal of all kinds of trash from homes and businesses, including construction debris, furniture, appliances, and other items that can be disposed of properly</li>
  
                <li style=" font-size: .8em ;margin-top: .7em">
               - Waste recycling and composting services</li>
    
                <li style="font-size: .8em;margin-top: .7em">
               - Waste disposals including plastic bags, glass bottles and containers, metal cans and boxes (as well as other items such as batteries)</li></span>
  
           </div>
        </div>
      </div>
    </div>
    <div class="service-block">
      <div class="service-image">
        <picture>
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/breakdown-service.webp"
            width = "300px"
            
          />
          <source media="(max-width: 1280px)" srcset="/assets/images/breakdown-service.webp" />
    
          <source media="(min-width: 1281px)" srcset="/assets/images/breakdown-service.webp"/>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/breakdown-service.webp"
            alt="meeting"
          />
          </picture>
      </div>
      <div class="service-text">
         <div class="title">
           <h2>Motorbike & Car Breakdown Removals</h2>
         </div>
         <div class="text">
           We offer removal services for vehicles including cars and motorbikes. Motorbikes & Cars are not easy to transport, especially the large ones. We have got you covered, our car & motorbike removal service specializes in taking care of this kind of problem in a timely fashion.
         </div>
      </div>
    </div>
    <div class="container-block">
      <div class="service-block-r">
        <div class="service-image">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="/assets/images/kitchen-fitting.webp"
              width="300px"
              
            />
            <source media="(max-width: 1280px)" srcset="/assets/images/kitchen-fitting.webp"/>
      
            <source media="(min-width: 1281px)" srcset="/assets/images/kitchen-fitting.webp"/>
            <img
              aria-hidden="true"
              decoding="async"
              src="/assets/images/kitchen-fitting.webp"
              alt="meeting"
            />
            </picture>
        </div>
        <div class="service-text">
           <div class="title">
             <h2>Kitchen Fitting</h2>
           </div>
           <div class="text">
            We'll come out and give you an estimate on how much it will cost to install your new kitchen, then plan out exactly what needs to be done during each step of the process.
           </div>
        </div>
        
      </div>

    </div>
    <div class="service-block">
      <div class="service-image">
        <picture>
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/deep-clean.webp"
            width="300px"
            
          />
          <source media="(max-width: 1280px)" srcset="/assets/images/deep-clean.webp"/>
    
          <source media="(min-width: 1281px)" srcset="/assets/images/deep-clean.webp"/>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/deep-clean.webp"
            alt="meeting"
          />
          </picture>
      </div>
      <div class="service-text">
         <div class="title">
           <h2>Deep Cleaning / Home Cleaning</h2>
         </div>
         <div class="text">
          A deep clean is a more comprehensive cleaning than the basic housecleaning that most people think of. It involves removing all the dust, dirt, and other debris from the carpeting, rugs, upholstery, and any other furniture that you have in your home. This type of cleaning is also known as an "extra deep" cleaning because it involves going beyond what is considered to be standard maintenance.
         </div>
      </div>
    </div>
  
  </div>