@media only screen and (min-width: 0em) {
    .swoosh,.swoosh2{
      display: none;
    }
   .service-block, .service-block-r{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;
      .service-text{
        margin-left: 10%;
        margin-right: 10%;
        h2{
          font-size: 1em;
        }
  
        .text{
          text-align: left;
          font-size: .8em;
          li{
            list-style-type: none;
          }
        }
      }
   }
    
  }
  @media only screen and (min-width: 667px) {
  
  }
  @media only screen and (min-width: 1024px) {
  
  }
  