<section id="side-bar" class="container">
    <div><div class="recent-posts">
    <p class="popular">Popular Posts</p>
    <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/webdesign-webdev.webp" alt="">
        <div class="recent-posts__item__content">
            <h2><a href="articles/2022/ireland-web-design-vs-web-development-what-is-the-difference">Ireland Web Design vs Web Development</a></h2>
            <p>Donal O'Connell</p>
            <p>November 02, 2022</p>
        </div>
    </div>
    <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/WP.png" alt="">
        <div class="recent-posts__item__content">
            <h2><a href="articles/2022/wordpress-is-bad-for-SEO-and-customer-experience">Wordpress is Bad for SEO and Customer Experience</a></h2>
            <p>Donal O'Connell</p>
            <p>March 7, 2022</p>
        </div>
    </div>
    <div class="recent-posts__item">
        <img aria-hidden="true" src="/assets/images/SEO.jpg" alt="">
        <div class="recent-posts__item__content">
            <h2><a href="articles/2022/the-importance-of-seo-for-your-business">The Importance of SEO for Your Business</a></h2>
            <p>Donal O'Connell</p>
            <p>April 10, 2021</p>
        </div>
    </div>

    </div></div>
</section>