<app-header></app-header>
<section id="int-hero">
    <h1 id="home-h">Articles</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/cabinets2-m.jpg"
      />
      <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/cabinets2.jpg"
        alt="cabinets"
        width="400"
        height="662"
      />
    </picture>
  </section>
  <main>

    <section id="blog">

        <!-- ============================================ -->
        <!--                 BLOG CONTENT                 -->
        <!-- ============================================ -->
        
        <article class="blog">
            <div class="blog__post container">
                <div class="blog__post--header">
                    <img aria-label="picture of a bare brick wall" src = "/assets/images/code.png" class="main-image">
                    <h1>The Importance of SEO for Your Business</h1>
                    <div class="blog__post--info">
                        <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                        <div class="blog__post--profile">
                            <h3>Donal O'Connell</h3>
                            <a href="#">September 18, 2021</a><br>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="line"></div>
                <p>
                    Cyber visibility and accessibility continues to increase in importance as consumers spend more time online and buy more things online. Search engine optimization (SEO) is a set of techniques and strategies 
                    that help your website get noticed by search engines like Google, Bing, Yahoo, and others so that users can find your site more easily
                </p>
                <button class="button-6" onclick="location.href='articles/2022/the-importance-of-seo-for-your-business'" type="button">
                    Read More
                </button>
            </div>
        </article>

        <!-- ============================================ -->
        <!--                 BLOG CONTENT                 -->
        <!-- ============================================ -->
        
        <article class="blog">
            <div class="blog__post container">
                <div class="blog__post--header">
                    <img aria-label="picture of a bare brick wall" src = "/assets/images/code.png" class="main-image">
                    <h1>Wordpress is Bad for SEO and Customer Experience</h1>
                    <div class="blog__post--info">
                        <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                        <div class="blog__post--profile">
                            <h3>Donal O'Connell</h3>
                            <a href="#">April 19, 2021</a><br>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="line"></div>
                <p>WordPress is not a search engine optimization (SEO) optimized platform out of the box. This is one of the main reasons why you should not use it if you want your site to rank on Google’s first couple of pages. 
                    A WordPress website will not have the proper code or optimization that Google’s algorithm requires to rank a website.
                </p>
                <button class="button-6" onclick="location.href='articles/2022/wordpress-is-bad-for-SEO-and-customer-experience'" type="button">
                    Read More
                </button>
            </div>
        </article>

        <!-- ============================================ -->
        <!--                 BLOG CONTENT                 -->
        <!-- ============================================ -->
        
        <article class="blog">
            <div class="blog__post container">
                <div class="blog__post--header">
                    <img aria-label="picture of a bare brick wall" src = "/assets/images/code.png" class="main-image">
                    <h1>The Ultimate Guide to Using a Website to Boost Your Sales</h1>
                    <div class="blog__post--info">
                        <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                        <div class="blog__post--profile">
                            <h3>Donal O'Connell</h3>
                            <a href="#">April 10, 2021</a><br>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="line"></div>
                <p>Let’s get started by looking at how you can use a website to boost your sales. There are countless ways to do this, with the key being to provide real value to your customers. In other words, you want to create a website that helps people solve their problems. If you’re selling cars, for example, you might have a section on your site that teaches people how to get a good car loan. 
                    Or you might have a section on your site dedicated to helping people stay safe while they’re out driving.
                </p>
                <button class="button-6" onclick="location.href='articles/2022/the-ultimate-guide-to-using-a-website-to-boost-your-sales'" type="button">
                    Read More
                </button>
            </div>
        </article>

    </section>

    <!-- ============================================ -->
    <!--                   SIDE BAR                   -->
    <!-- ============================================ -->
    <app-sidebar></app-sidebar>
</main>