<section class="description">
  <div class="descTitle">
    <div class="descTitleText">
      <h1><span style="color:blue;margin-right:5px">WEB DESIGN</span>IRELAND</h1>
    </div>
  </div>
  <div class="descPara">
    <p>
      We specialize in <b>affordable web design</b> and web development for clients
      anywhere in Ireland. Every line of code is written by hand to ensure
      the best performance, which helps bring in more customers to your site
      and bring more revenue to your business.
    </p>
  </div>
  <div class="what-we-do-container">
    <div class="itemsList">
      <div class="item">
        <img src = "/assets/images/smartphone.png">
        <h3>Mobile First Design</h3>
        <p>
          We start by building and optimizing the site for mobiles first, we
          then add more code to make the website to make it desktop friendly
        </p>
      </div>
      <div class="item">
        <img src = "/assets/images/pie-chart.webp">
        <h3>Search Engine Optimized</h3>
        <p>
          57% of all internet traffic is on mobile devices, so we optimize
          your mobile to perform their best in search engines.
        </p>
      </div>
      <div class="item">
        <img src = "/assets/images/desktop.png">
        <h3>Fully Responsive</h3>
        <p>
          Your website will fit all mobile screens sizes, tablets, and desktop
          sizes so new clients can access your site from anywhere.
        </p>
      </div>
    </div>
    <div class="transitionArrow">
      <img src="/assets/images/arrow.png">
    </div>
  </div>
</section>