<section class="services">
  <div class="serviceKeywords">
    <div class="serviceCard">
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/waste-icon.svg"
            alt="appliance"
            width="68"
            height="68"
          />
        </picture>
        <h2>Waste Collection</h2>
        <p>
          Garden Waste Disposal, Garage clearances and Rubbish Removal
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/furniture-icon.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Furniture Removal</h2>
        <p>
          Piano Removal in Dublin, Couch removal, Office furniture removal, Appliance removals and more
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/house-icon.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>House Moves</h2>
        <p>
          Moving homes is made easy working with us. Matress removal, furniture removal, Appliance Removal & Rubbish Removal
        </p>
      </div>
    </div>
  </div>
</section>
