<section class="services">
  <div class="serviceKeywords">
    <div class="serviceCard">
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/service1.svg"
            alt="appliance"
            width="68"
            height="68"
          />
        </picture>
        <h2>Service 1</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/service2.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Service 2</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
      <div class="card">
        <picture>
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/service3.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <h2>Service 3</h2>
        <p>
          Talk about the service with keywords people will be searching for it
          by. Keep it 1-2 sentences.
        </p>
      </div>
    </div>
    <div class="generalServices">
      <picture class="image-box">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          width="200"
          height="282"
        />
      </picture>
      <div class="content">
        <h2 class="title">
          Trusted home builders for (main city) for over 20 years
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
          debitis dolor consectetur dolorem inventore modi tenetur ex odit, amet
          beatae ad, doloribus tempora quae ab nulla minus temporibus at
          veritatis!
        </p>
        <p>
          <strong>A list if you need it:</strong>
        </p>
        <ul>
          <li>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/check.svg"
              alt="check mark"
              width="20"
              height="20"
            />
            <span
              >List item about something, this one is going to two lines so you
              can see what it looks like</span
            >
          </li>
          <li>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/check.svg"
              alt="check mark"
              width="20"
              height="20"
            />
            <span>List item about something</span>
          </li>
          <li>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/check.svg"
              alt="check mark"
              width="20"
              height="20"
            />
            <span>List item about something</span>
          </li>
          <li>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/check.svg"
              alt="check mark"
              width="20"
              height="20"
            />
            <span>List item about something</span>
          </li>
          <li>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/images/check.svg"
              alt="check mark"
              width="20"
              height="20"
            />
            <span>List item about something</span>
          </li>
        </ul>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          saepe laborum nam consequuntur porro inventore odio? Quod autem alias
          ratione cum reiciendis qui quaerat, sequi voluptatum voluptatibus,
          iusto itaque sed ullam. Quis, maiores corrupti. Rerum quo laudantium
          vero magnam tempora!
        </p>
        <a class="button-6" href="/about.html">More About Us</a>
      </div>
      <picture class="image-box">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/cabinets2-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/cabinets2.jpg"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/images/cabinets2.jpg"
          alt="cabinets"
          width="200"
          height="282"
        />
      </picture>
    </div>
  </div>
</section>
