@media only screen and (min-width: 0em) {
  section {
    margin-top: 20em;
  }
  .serviceKeywords {
    position: relative;
    top: -18em;
  }
  .serviceCard {
    width: 90%;
    color: black;
    background-color: white;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-top: 0.375em solid #ffba19;
    border-radius: 0.3125em;
    position: relative;
    z-index: 9;
    margin-bottom: 5em;
  }
  .card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    picture {
      background-color: #ffba19;
      padding: 20px;
      border-radius: 50%;
      margin-bottom: 1em;
    }
    p {
      width: 70%;
      font-size: 0.7rem;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 1em;
    }
  }
  .generalServices {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;
    .image-box:after {
      content: "";
      position: absolute;
      display: block;
      height: 10.25em;
      width: 9.75em;
      top: -8em;
      left: 10em;
      background: url(/assets/images/content-circles.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
    }
    .image-box:before {
      content: "";
      position: absolute;
      height: 282px;
      width: 200px;
      top: 1em;
      left: 4em;
      background-color: #ffba19;
      z-index: -1;
    }
    .content {
      margin-top: 3em;
      width: 90%;
      ul {
        list-style-type: none;
        list-style: none;
        li {
          margin-top: 1em;
          span {
            margin-left: 0.5em;
          }
        }
      }
      p {
        margin-bottom: 2em;
        margin-top: 2em;
        font-size: 0.9em;
        text-align: left;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .serviceCard {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -10em;
    padding: 2em;
  }
  .card {
    width: 30%;
    margin-left: 3%;
  }
}
