<section id="blog">
    <!-- ============================================ -->
    <!--                 BLOG CONTENT                 -->
    <!-- ============================================ -->
    <div class="descTitleText">
        <h1>WEB DESIGN IRELAND : <span style="color:blue;margin-right:5px">FEATURED ARTICLE</span></h1>
    </div>
    <article class="blog">
        <div class="blog__post container">
            <div class="blog__post--header">
                <div class="imgContainer">
                    <img aria-label="web design" src = "/assets/images/webdesign-webdev.webp" class="main-image">
                </div>
                <h1>Ireland Web Design vs Web Development</h1>
                <div class="blog__post--info">
                    <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                    <div class="blog__post--profile">
                        <h3>Donal O'Connell</h3>
                        <a href="#">November 02, 2022</a><br>
                    </div>
                </div>
            </div>
            <div aria-hidden="true" class="line"></div>
            <p>
                The world of <a href="https://www.techopedia.com/definition/10009/web-design">web design</a> and <a href="https://blog.hubspot.com/website/website-development">web development</a> can be a confusing one, especially if you're not sure what the difference is between the two. In this article, we'll explore the difference between web design and web development, the skills you need for each, and the benefits of each  for Irish business owners.
            </p>
            <h3 class="blog-h3">
                The Difference Between Web Design and Web Development
            </h3>
            <p>
                Web design and web development are two different but complementary skillsets. Web design is focused on the visual aesthetic of a website, while web development is focused on the functionality and technical aspects of a website. Both skillsets are important for creating a successful website.

                While web designers are responsible for the look and feel of a website, web developers are responsible for the functionality and technical aspects. Both skillsets are necessary for creating a successful website.
            </p>
            <h3 class="blog-h3">
                The Skills You Need for Web Development
            </h3>
            <p>
                If you want to be a web developer, you'll need to have strong technical skills. You'll need to be proficient in programming languages like HTML, CSS, and JavaScript. A good web developer should also have a strong understanding of server-side technologies like Java and MySQL.

                In addition to strong technical skills, web developers need to be good at problem solving. They need to be able to debug code and find solutions to complex problems. Web developers also need to have good communication skills. They need to be able to explain their code to other developers and clients, and implement the structures given to them by the web designer.
            </p>
            <button class="button-6" onclick="location.href='articles/2022/ireland-web-design-vs-web-development-what-is-the-difference'" type="button">
                Read More
            </button>
        </div>
    </article>
</section>