<section id = "process">
    <div class="block">
        <div class="contents">
            <img
            aria-hidden="true"
            src="/assets/images/happy-icon.svg"
            decoding="async"
            alt="icon"
            height="40px"
            />
            <span class="text">1000s Happy Customers</span>
        </div>
        <div class="dash"></div>
        <div class="dash-2"></div>

    </div>
    <div class="block">
        <div class="contents">
            <img
            aria-hidden="true"
            src="/assets/images/trophy-icon.svg"
            decoding="async"
            alt="icon"
            height="40px"
            />
            <span class="text">100s Reviews</span>
        </div>
        <div class="dash"></div>
        <div class="dash-2"></div>

    </div>
    <div class="block">
        <div class="contents">
            <img
            aria-hidden="true"
            src="/assets/images/time-icon.svg"
            decoding="async"
            alt="icon"
            height="40px"
            />
            <span class="text">Fastest Service Delivery</span>
        </div>
    </div>
</section>
