<section class="call-to-action" id="cta">
  <div class="container">
    <h2 class="title">
      Get It Done <br />
      With Us Today
    </h2>
    <p>
      Get A Free Quote Today. High Quality Efficent Work At Affordable Prices
    </p>
    <a href="/contact" class="button-6">Get an Estimate Now</a>
  </div>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/truck-small.webp"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/truck-big.webp" />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/truck-big.webp"
      alt="truck"
    />
  </picture>
</section>
