<section class="call-to-action" id="cta">
  <div class="container">
    <h2 class="title">
      Get It Done <br />
      With Us Today
    </h2>
    <p>
      Let us boost your businesses online traffic and sales.
    </p>
    <button class="button-6" onclick="location.href='/contact'" type="button">
      CONTACT US
  </button>
  </div>
  <picture>
    <source media="(min-width: 601px)" srcset="/assets/images/code.webp" />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="/assets/images/code.webp"
      alt="kitchen cabinets"
      width="1920"
      height="1280"
      style="filter: brightness(40%);"
    />
  </picture>
</section>
