<section id="blog">
    <div class="container">
        <h2>
            <span>OUR</span> BLOG
        </h2>
        <div aria-hidden="true" class="graphic-group">
            <div class="dash"></div>
            <img src="https://d33wubrfki0l68.cloudfront.net/46bd23a5d2c0614608636ed7343b672168551685/84b02/images/writing.svg" alt="">
            <div class="dash"></div>
        </div>
        <div class="boxes-container">
            <div class="box">
                <img
                    srcset="
                    /assets/images/WP.png
                    "
                    sizes="(max-width: 600px) 480px, 800px"
                    src="/assets/images/WP.png"
                    width="300px"
                    height="180px"
                    alt="sew strong website mock up"
                />
                <h3>Wordpress is Bad for SEO and Customer Experience</h3>
                <p>Learn how using WordPress can lose you customers and lower your search ranking</p>
                <button class="button-6" onclick="location.href='articles/2022/wordpress-is-bad-for-SEO-and-customer-experience'" type="button">
                    READ MORE
                </button>
            </div>
            <div class="box">
                <img
                srcset="
                     /assets/images/sales.jpg
                    "
                    sizes="(max-width: 600px) 480px, 800px"
                    src="/assets/images/sales.jpg"
                    width="300px"
                    height="180px"
                    alt="sew strong website mock up"
                />
                <h3>The Ultimate Guide to Using a Website to Boost Your Sales</h3>
                <p>Let’s get started by looking at how you can use a website to boost your sales.</p>
                <button class="button-6" onclick="location.href='articles/2022/the-ultimate-guide-to-using-a-website-to-boost-your-sales'" type="button">
                    READ MORE
                </button>
            </div>
            <div class="box">
                <img
                    srcset="
                    /assets/images/SEO.jpg
                    "
                    sizes="(max-width: 600px) 480px, 800px"
                    src="/assets/images/SEO.jpg"
                    width="300px"
                    height="180px"
                    alt="sew strong website mock up"
                />
                <h3>The Importance of SEO for Your Business</h3>
                <p>Learn why SEO is important for businesses and how you could be missing out on customers and sales</p>
                <button class="button-6" onclick="location.href='articles/2022/the-importance-of-seo-for-your-business'" type="button">
                    READ MORE
                </button>
            </div>
        </div>
    </div>
</section>