<app-acheivments></app-acheivments>
<div class="title">
  <h2><span class="highlight">160+</span> Google Verified Reviews</h2>
  <span style="margin-top:20px;margin-bottom:20px">⭐⭐⭐⭐⭐</span>
  <p>Here are some of our recent reviews</p>
</div>
<section id="reviews">
  <div class="container">
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/yash.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        Garreth was so lovely and super helpful! What would have been a stressful move with loads of boxes, he made it very easy :) chatted the whole way through and was really accommodating - thanks so much!! I def recommend to anyone who’s looking for a man with a van service :)
      </p>
      <div class="star-group">
        <span class="name">Yashaswi Nalawade<span class="desc"></span></span>
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/stars.svg"
            alt="stars"
            width="91"
            height="15"
          />
        </picture>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/petermaxwell.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        Garret did a great job getting us moved and was extremely flexible and even did some other furniture pickups.  Would absolutely recommend the service to anybody.
      </p>
      <div class="star-group">
        <span class="name">Peter Maxwell<span class="desc"></span></span>
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/stars.svg"
            alt="stars"
            width="91"
            height="15"
          />
        </picture>
      </div>
    </div>
    <div class="review">
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/olliewalsh.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        Gareth and the team were brilliant. They very efficient and professional. Was very helpful that they could fit the move in on a Sunday. Would recommend Gareth for anyone looking for assistance in moving house.
        Ollie
      </p>
      <div class="star-group">
        <span class="name">Ollie Walsh<span class="desc"></span></span>
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/stars.svg"
            alt="stars"
            width="91"
            height="15"
          />
        </picture>
      </div>
    </div>
    <div class="review" >
      <picture>
        <img
          class="profile"
          loading="lazy"
          decoding="async"
          src="/assets/images/Mtalini.webp"
          alt=""
          width="99"
          height="99"
        />
      </picture>
      <p>
        Garrett was brilliant, arrived on time and got straight to work. The whole house move was done within 3hrs. Would highly recommend and will definitely use him again for my next move
      </p>
      <div class="star-group">
        <span class="name">M Talini<span class="desc"></span></span>
        <picture>
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/assets/images/stars.svg"
            alt="stars"
            width="91"
            height="15"
          />
        </picture>
      </div>
    </div>
  </div>
</section>

