<app-header></app-header>
<section id="int-hero">
    <h1 id="home-h">Articles</h1>
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="/assets/images/code.png"
      />
      <source media="(min-width: 601px)" srcset="/assets/images/code.png" />
      <img
        aria-hidden="true"
        decoding="async"
        src="/assets/images/code.png"
        alt="cabinets"
        width="400"
        height="662"
      />
    </picture>
  </section>
  <main>

    <section id="blog">

        <!-- ============================================ -->
        <!--                 BLOG CONTENT                 -->
        <!-- ============================================ -->
        
        <article class="blog">
            <div class="blog__post container">
                <div class="blog__post--header">
                    <div class="imgContainer">
                    <img aria-label="Web Designer" src = "/assets/images/webdesign-webdev.webp" class="main-image" >
                    </div>
                    <h1>Ireland Web Design vs Web Development</h1>
                    <div class="blog__post--info">
                        <img aria-hidden="true" src="/assets/images/profo.png" alt="Donal O'Connell">
                        <div class="blog__post--profile">
                            <h3>Donal O'Connell</h3>
                            <a href="#">Nov 02, 2022</a><br>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="line"></div>
                <p>
                    The world of web design and web development can be a confusing one, especially if you're not sure what the difference is between the two. In this article, we'll explore the difference between web design and web development, the skills you need for each, and the pros and cons of each option for Irish business owners.
                </p>
                <h3 class="blog-h3">
                    The Difference Between Web Design and Web Development
                </h3>
                <p>
                    Web design and web development are two different but complementary skillsets. Web design is focused on the visual aesthetic of a website, while web development is focused on the functionality and technical aspects of a website. Both skillsets are important for creating a successful website.

                    While web designers are responsible for the look and feel of a website, web developers are responsible for the functionality and technical aspects. Both skillsets are necessary for creating a successful website.
                </p>
                <h3 class="blog-h3">
                    The Skills You Need for Web Design
                </h3>
                <p> 
                    If you want to be a web designer, you'll need to have a good eye for aesthetics and typography. You'll also need to be proficient in implementing important structures into your websites such as <a href="https://www.oberlo.com/ecommerce-wiki/conversion-funnel#:~:text=A%20Conversion%20Funnel%20is%20an,guided%20through%20the%20conversion%20path.">conversion funnels</a>. A good web designer should also have a basic understanding of HTML and CSS.

                    In addition to these technical skills, a good web designer should also have strong communication and project management skills. They should be able to work with clients to understand their needs and then translate those needs into a well-designed website.
                </p>
                <img aria-label="Web Designer" src = "/assets/images/webdev.webp" class="main-image" >
                <h3 class="blog-h3">
                    The Skills You Need for Web Development
                </h3>
                <p>
                    If you want to be a web developer, you'll need to have strong technical skills. You'll need to be proficient in programming languages like HTML, CSS, and JavaScript. A good web developer should also have a strong understanding of server-side technologies like Java and MySQL.

                    In addition to strong technical skills, web developers need to be good at problem solving. They need to be able to debug code and find solutions to complex problems. Web developers also need to have good communication skills. They need to be able to explain their code to other developers and clients, and implement the structures given to them by the web designer.
                </p>
                <h3 class="blog-h3">
                    The Importance of Web Design
                </h3>
                <p>
                    When landing on a website, most users will judge a businesses reliability based on their impressions of the businesses website design. A poorly designed website can make people question your legitimacy and lead to less conversions. Professional web design is important to maximise the benefits a website can bring to your business.
                </p>
                <img aria-label="Web Designer" src = "/assets/images/metrics.webp" class="main-image" >
                <h3 class="blog-h3">
                    The Importance of Web Development
                </h3>
                <p>
                   Often Web developers with poor technical skills use page builders such as <a href="https://irelandwebdesigns.ie/articles/2022/wordpress-is-bad-for-SEO-and-customer-experience">WordPress</a> to build their websites. Wordpress websites are often poorly mobile optimised and have slow
                   page speeds. These poor <a href="https://www.forbes.com/sites/forbesagencycouncil/2021/07/08/what-are-googles-new-core-web-vitals--why-should-your-business-care-about-them/">core vital metrics</a> can lead to your website dropping in the search rankings bringing less customers to your website.
                   Hand coded websites that are built by competent programmers will have the best core vital metrics allowing you to maximise the effectiveness of your businesses online presence. Here at Ireland Web Designs we offer hand coded Search engine optimised websites for €0 down, €150/mo. We make sure your website
                   has lifetime support and updates providing you with a full longterm solution 
                </p>
            </div>
        </article>

    </section>

    <!-- ============================================ -->
    <!--                   SIDE BAR                   -->
    <!-- ============================================ -->

    <app-sidebar></app-sidebar>
</main>